<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd ">

    <bean id="student1" class="com.springCore.Student" >
        <property name="studentId" value="677"/>
        <property name="name" value="mayu" />
        <property name="add" value="ravet"/>

    </bean>


    <bean id="student2" class="com.springCore.Student">
        <property name="studentId" value="98765"/>
        <property name="name" value="sneha" />
        <property name="add" value="surat"/>
    </bean>



</beans>